#Models
temporal_models_path                : models/temperature/temporal
convolutional_models_path           : models/temperature/convolutional

temporal_length                     : 10

#Query
# query                               : queries_djensemble.hdf
query                               : /home/anderson/Programacao/DJEnsemble/ProjetosCompletos/dj-hibrido-temperatura/v2209/queries_djensemble.hdf
model_estimated_errors_by_tile_file : Q1/ErrosComNormalizaçãoOutliersRemovidosQuery1.csv
model_estimated_time_by_tile_file   : Q1/TemposComNormalizaçãoOutliersRemovidosQuery1.csv
tile_specifications_file            : Q1/Q1Test.csv
execute_offline                     : S

max_tile_area                       : (0, 10, 0, 100)
min_tile_length                     : 6
threshold                           : 20.0
number_of_samples                   : 100
offset                              : 50

time_weight                         : 0.2
output_file_name                    : results/Q1

multiply_number_of_executions       : N
normalize_values                    : N